<div class="container-fluid mt-5">
    <h1 class="display-5 fw-bold text-center">Products</h1>




    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <div class="card">
                <div class="card-body">
                    <img src="" alt="" class="img-thumbnail d-block w-100">
                    <p class="h5">
                        price
                    </p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <div class="card">
                <div class="card-body">
                    <img src="" class="img-thumbnail d-block w-100" alt="">
                    <p class="h5">
                        price
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center">
            <div class="card">
                <div class="card-body">
                    <img src="" class="img-thumbnail d-block w-100" alt="">
                    <p class="h5">
                        price
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>