.product {
  padding: 10px 0;
}
.slider-wrap {
  position: relative;
  overflow: hidden;
  height: 100px;
}
.slider-main {
  position: absolute;
  width: 200%;
}
.item {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 70px;
  background: red;
  margin: 0 12px;
  border-radius: 50%;
}
.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bolder;
}
.prev {
  position: absolute;
  left: 5px;
  top: 20%;
  /* transform: translate(-50%, -50%);  */
}
.next {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* .swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
