<section class="product">
    <div class="container-fluid">
        <div class="slider-wrap">
            <div class="slider-main">
                <div class="item">
                    <div class="text">1</div>
                </div>
                <div class="item">
                    <div class="text">2</div>
                </div>
                <div class="item">
                    <div class="text">3</div>
                </div>
                <div class="item">
                    <div class="text">4</div>
                </div>
                <div class="item">
                    <div class="text">5</div>
                </div>
            </div>
            <div class="button-area">
                <button class="prev" type="button" appPrev>prev</button>
                <button class="next" type="button" appNext><span><i class="bi bi-chevron-right"></i></span></button>
            </div>
        </div>
    </div>
</section>